/* .cs-auth{
    background-position: center;
    height: 101vh;
    background-size: cover;
    background-color: rgb(10, 5, 36);
} */

.cs-card{
    border-radius: 15px;
    background-color: #F15A24;

}

.cs-card :hover{
    transition-delay: 5s;
    transition-duration: 2s;

}

.uk-card-hover{
    transition-delay: 5s;
    transition-duration: 2s;

}

.cs-heading {
    margin: 6px;
    color: #006837;
}

.cs-link :hover{
    transition-delay: 5s;
    transition-duration: 2s;
    color: blue;
    animation-duration: 3s;
}

/* new */
.cs-body{
    background-image: url("/assets/images/food1.jpg");
    background-position: center;
    height:  -webkit-calc(105vh - 20px);
    background-size: cover;
}
.uk-card{
    border-radius: 10px;
}
.uk-button{
    border-radius: 10px;
    color: #fb6307;
}
