<div class="cs-body">
  <div class="uk-flex uk-padding-small" uk-grid>
      <div class="uk-width-1-3">

      </div>
      <div class="uk-width-1-3@s uk-margin-large uk-text-center">
          <div>
              <h1 class="uk-text-bold" style="color: white;">Welcome to iFood</h1>
              <h3 style="color: white;">for all quality and delicious foods</h3>
          </div>
          <div class="uk-flex" uk-grid>
              <div class="uk-width-1-1">
                  <div class="uk-card uk-card-default">
                     <div class="uk-felx" uk-grid>
                          <div class="uk-width-1-2 uk-navbar-left uk-margin-small uk-text-center">
                              <ul  class="uk-navbar-nav  uk-text-center">
                                  <li class="uk-text-bold" style="margin-left: 10px; margin-top: 10px;">Delivery</li>
                              </ul>
                          </div>
                     </div>
                  </div>
              </div>

              <div class="uk-width-1-1">
                  <div class="uk-card uk-card-default">
                     <div class="uk-felx" uk-grid>
                          <div class="uk-width-1-2 uk-navbar-left uk-margin-small uk-text-center">
                              <ul  class="uk-navbar-nav ">
                                  <li class="uk-text-center" style="margin-left: 10px; margin-top: 20px;">
                                      <p> <span uk-icon="icon: location"></span>Dar es salaam, Tanzania</p>
                                  </li>
                              </ul>
                          </div>
                     </div>
                  </div>
              </div>

              <div class="uk-width-1-1">
                 <div class="uk-flex" uk-grid>
                      <div class="uk-width-1-4">

                      </div>
                      <div class="uk-width-1-2">
                          <ul class="uk-navbar-nav uk-text-center">
                              <li>
                                 <a>
                                  <button [routerLink]="['/auth/tables']" routerLinkActive="router-link-active" class="uk-button  uk-text-bold">order now</button>
                                 </a>
                              </li>
                          </ul>
                      </div>
                      <div class="uk-width-1-4">

                      </div>
                 </div>
              </div>
          </div>
      </div>
      <div class="uk-width-1-3">

      </div>
  </div>
</div>
