<div class="cs-comfirmation">
 <div class="uk-container uk-padding-small">
  <div class="uk-flex uk-padding-small" uk-grid>
    <div class="uk-width-1-2 uk-padding-small">
      <div class="uk-card uk-card-primary uk-card-body">
        <nav class="uk-navbar" uk-navbar>
          <div class="uk-navbar-left">
            <h3 class="uk-header uk-text-bold">Selected Order</h3>
          </div>
          <div class="uk-position-right">
            <span uk-icon="more"></span>
          </div>
        </nav>

        <div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand uk-text-bold" uk-leader>My menu</div>
            <div class="uk-text-bold">Price</div>
          </div>
        </div>

        <div class="uk-card uk-overflow-auto uk-padding-small" id="general-scroll-bar">
          <div class="new-cs1-height-input-area">
            <div *ngFor="let choosenFood of choosenFoods; let indexPosition = index">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-expand uk-text-capitalize" uk-leader>
                  {{choosenFood.foodName}}
                </div>
                <div>
                  {{choosenFood.foodPrice}} tsh
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand uk-text-bold" uk-leader>Items </div>
          <div class="uk-text-bold">Total</div>
        </div> -->

        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand uk-text-bold" uk-leader>{{ choosenFoods.length}} Orders</div>
          <div class="uk-text-bold">Tsh {{ choosenFoodsPriceTotal }}</div>
        </div>

        <!-- <div class="uk-width-1-1 uk-padding-small">
          <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"> PAYMENT </button>
        </div> -->

      </div>
    </div>
    <div class="uk-width-1-2 uk-padding-small">
      <div class="uk-card uk-card-default uk-card-body">
        <nav class="uk-navbar" uk-navbar>
          <div class="uk-navbar-left">
            <div class="uk-text-bold uk-padding-small">Total</div>
            <h1 class="uk-text-bold uk-text-large">Tsh {{ choosenFoodsPriceTotal }}</h1>
          </div>
          <div class="uk-position-right">
            <span uk-icon="more"></span>
          </div>
        </nav>

        <div class="uk-margin-small">
          <h3 class="uk-text-bold">Choose payment method</h3>
        </div>

        <div class="uk-margin">
          <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <!-- <img src="assets/images/cash.png" alt="">
                  <p class="uk-text-bold">119 000: Ifood </p> -->
                  <h2 class="uk-text-bold uk-text-capitalize">Cash</h2>
                  <img src="assets/images/money.png" alt="" style="height: 25px;">
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h2 class="uk-text-bold uk-text-capitalize" style="color: blue;">Tigo Pesa</h2>
                  <p class="uk-text-bold">746-837</p>
                </div>
            </div>
            <!-- <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <img src="assets/images/airtel.png" alt="">
                </div>
            </div> -->
          </div>

          <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
              <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-text-bold uk-text-capitalize" style="color: brown;">M-Pesa</h2>
                <p class="uk-text-bold">116-290</p>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-text-bold uk-text-capitalize" style="color: crimson;">A Money</h2>
                <p class="uk-text-bold">992-880</p>
              </div>
            </div>
            <!-- <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <img src="assets/images/paypal.jpg" alt="">
                </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
