<div class="cs-table">
  <div class="uk-flex uk-padding-small" uk-grid>
    <div class="uk-width-1-2">
      <div class="uk-padding-small">
        <div class="uk-header">
          <h4 class="uk-text-bold" style="color: white;">SELECT YOUR TABLE</h4>
        </div>
      </div>
    </div>
    <div class="uk-width-1-2">
      <div class="uk-padding-small">
          <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
               <input class="uk-input" type="text"  placeholder="Search..." [(ngModel)]="searchTables">
          </div>
      </div>
  </div>
  </div>
  <div class="uk-flex" uk-grid>
    <div class="uk-width-expand">
     <div class="uk-card uk-overflow-auto uk-padding-small" id="general-scroll-bar">
       <div class="cs-height-input-area">
        <div class="uk-child-width-1-5 uk-padding-small" uk-grid >
          <div  *ngFor="let table of tables | filter:searchTables">
            <a class="uk-link-reset cs-support-ticket" [routerLink]="['/dashboard', table.tableNumber]" routerLinkActive="router-link-active">
              <div class="uk-card uk-card-primary uk-hover uk-card-body" style="border-radius: 15px;">
                <h3  class="uk-card-title uk-text-capitalize uk-text-center uk-text-bold">table:{{ table.tableNumber }}</h3>
                <p  class="uk-card-title uk-text-capitalize uk-text-center">{{ table.status }}</p>
              </div>
            </a>
          </div>
       </div>
       </div>
     </div>
    </div>
  </div>
</div>



