.cs-auto{
    background-color: blue;
}

.cs-table
{
  background-color: rgb(10, 5, 36);
  height: 100vh;
}

.cs-height-input-area {
  height: -webkit-calc(100vh - 250px);
}

.new-cs-height-input-area{
    height:  -webkit-calc(45vh - 200px);
}

#general-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#general-scroll-bar::-webkit-scrollbar {
    width: 10px;
	background-color: #F5F5F5;
}

#general-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
	border: 2px solid #c3c2c2;
}

.cs-pics-card{
    max-width: auto;
}
