<!-- <app-navigation></app-navigation> -->

<div class="cs-dashboard">
  <div>
    <div class="uk-flex" uk-grid>
        <div class="uk-width-3-4">
          <nav class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left">
              <div class="uk-padding-small">
                <div class="uk-header">
                  <h4 class="uk-text-bold" style="color: white;">Menu/ Table: {{tableNumber}}</h4>
                </div>
              </div>
            </div>
            <div class="uk-position-right">
              <div class="uk-padding-small">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                     <input class="uk-input" type="text"  placeholder="Search..." [(ngModel)]="searchFoods">
                </div>
             </div>
            </div>
          </nav>

          <div class="uk-card uk-overflow-auto uk-padding-small" id="general-scroll-bar">
            <div class="old-cs-height-input-area">
              <div class="uk-child-width-1-4" uk-grid>
                <div *ngFor="let food of foods | filter:searchFoods" (click)="foodSelected(food)">
                  <div class="uk-card-media-top" style="background-color: rgb(8, 8, 8);">
                    <img src="http://34.91.219.44/public{{food.image}}" alt="" style="width: 250px; height: 165px;">
                  </div>
                 <div class="cs-cards uk-card-primary  uk-card-hover uk-card-body uk-padding-small" style="border-radius: 10px; margin-top: 5px;">
                    <h3 class="uk-card-title uk-text-capitalize uk-text-bold">{{ food.foodName }}</h3>
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>Price</div>
                        <div>{{ food.foodPrice }} Tsh</div>
                    </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-4 uk-padding-small">
          <div class="cs-card uk-card uk-card-primary uk-card-body">
              <div class="all">
                <nav class="uk-navbar" uk-navbar>
                  <div class="uk-navbar-left">
                      <h3 class="uk-header uk-text-bold">Order Summery</h3>
                  </div>
                  <div class="uk-position-right">
                      <span uk-icon="more"></span>
                  </div>
                </nav>

                <div class="table">
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand uk-text-bold" uk-leader>Food</div>
                    <div class="uk-text-bold">Price</div>
                  </div>

                  <div class="uk-card uk-overflow-auto uk-padding-small" id="general-scroll-bar">
                    <div class  class="new-cs-height-input-area">
                      <div *ngFor="let choosenFood of choosenFoods; let indexPosition = index" class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand uk-text-capitalize" uk-leader>{{ choosenFood.foodName }}</div>
                        <div>Tsh {{ choosenFood.foodPrice }} <span (click)="removeChosenFood(indexPosition)" class="uk-margin-small-right" uk-icon="icon: trash; ratio: 0.8" uk-tooltip="Remove Food Selection"></span></div>
                      </div>
                    </div>
                  </div>

                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand uk-text-bold" uk-leader>Items </div>
                    <div class="uk-text-bold">Total</div>
                  </div>

                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand uk-text-bold" uk-leader>{{ choosenFoods.length}}</div>
                    <div class="uk-text-bold">Tsh {{ choosenFoodsPriceTotal }}</div>
                  </div>

                  <div class="uk-width-1-1 uk-padding-small">
                    <button (click)="navigateToInput()" class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"> CONFRIRM ORDER</button>
                  </div>

                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>


