@import "~uikit/dist/css/uikit.min.css";

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.lds-dual-ring-dark {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.lds-dual-ring-dark:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring-dark {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.cs-height-input-area {
  height: -webkit-calc(100vh - 250px);
}

.new-cs-height-input-area{
    height:  -webkit-calc(100vh - 390px);
}

.old-cs-height-input-area{
  height:  -webkit-calc(100vh - 150px);
}


#general-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#general-scroll-bar::-webkit-scrollbar {
    width: 10px;
	background-color: #F5F5F5;
}

#general-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
	border: 2px solid #c3c2c2;
}

.cs-pics-card{
    max-width: auto;
}
